.Home {
  .ContainerUl{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    .Uls{
      display: flex;
      flex-direction: row;
      li{
        margin-left: 120px;
        list-style:circle;
        .Down:hover{
          text-decoration: underline;
          color: rgba(66, 185, 253, 0.733);
          display: inline;
        }
        p{
          margin: 0;
        }
      }

    }
  }
  .Img{
    width: 100%;
    height: 500px;
  }
}